{erl_opts, [no_debug_info]}.
{deps, [{cli, {git, "https://github.com/kolinsol/erlang-cli", {branch, "master"}}}]}.

{escript_incl_apps,
 [linerl, cli]}.
{escript_main_app, linerl}.
{escript_name, linerl}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
